$colors : (
  'black': rgba(0, 0, 0, 0.8),
  'blue': rgba(66, 165, 245, 0.8),
  'purple': rgba(171, 71, 188, 0.8),
  'green': rgba(102, 187, 106, 0.8),
  'red': rgba(239, 83, 80, 0.8),
  'yellow': rgba(255, 202, 40, 0.8),
  'white': rgba(189, 189, 189, 0.8)
);

.my {
  &-header {
    border-bottom: 1px solid #e6e6e6 !important;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);

    &__icon {
      img {
        max-width: 32px;
        border-radius: 50%;
      }
    }
  }

  &-main {
    background-color: #fafafa;
  }

  &-card {
    @each $color-label, $color-value in $colors {
      &.is-#{$color-label} {
        border-color: $color-value !important;
      }
    }

    &__content {
      color: #222;
    }

    &__name {
      font-size: 12px;
    }
  }
}
