$colors : (
  'black': rgba(0, 0, 0, 0.8),
  'blue': rgba(66, 165, 245, 0.8),
  'purple': rgba(171, 71, 188, 0.8),
  'green': rgba(102, 187, 106, 0.8),
  'red': rgba(239, 83, 80, 0.8),
  'yellow': rgba(255, 202, 40, 0.8),
  'white': rgba(189, 189, 189, 0.8)
);

header.header {
  border-bottom: 1px solid #e6e6e6 !important;

  .header__title {
    background-image: linear-gradient(45deg,#0af,#0080ff,#f0f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #42a5f5;
  }

  .header__icon {
    img {
      max-width: 32px;
      border-radius: 50%;
    }
  }
}

.main {
  background-color: #fafafa;

  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.grid {
  margin-top: 30px;

  .card {
    @each $color-label, $color-value in $colors {
      &.is-#{$color-label} {
        .card__icon {
          background-color: $color-value;
        }
      }
    }

    .card__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin: 0 0 10px 0;
      border-radius: 4px;

      i {
        color: #fff;
      }
    }

    .card__content {
      color: #222;
    }

    .card__name {
      font-size: 12px;
    }
  }
}

.list {
  &__icon {
    margin: 10px 6px 10px 0 !important;
  }

  &__title {
    line-height: 1.5;
  }
}
